@model Arlvendas.Models.VENDA
<div class="row" ng-controller="GesCtrl">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {
                <fieldset>
                    <legend>Cadastro Vendas</legend>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(v => v.DATAENTRADA, new { @class = "col-md-12 control-label" })
                            @Html.TextBoxFor(v => v.DATAENTRADA, new { @class = "col-md-12 form-control", @type = "date", ng_model = "ven.dataEntrada" })
                        </div>
                        <div class="col-md-6 form-group">
                            @Html.LabelFor(v => v.DATASAIDA, new { @class = "col-md-12 control-label" })
                            @Html.TextBoxFor(v => v.DATASAIDA, new { @class = "col-md-12 form-control", @type = "date", ng_model = "ven.dataSaida" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <select class="form-control"
                                    ng-model="cli.Id"
                                    ng-options="cli.IDCLI as cli.NOMECLI for cli in lstClientes" material-select watch>
                                <option value="">Selecione um cliente</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <select class="form-control"
                                    ng-model="mec.Id"
                                    ng-options="mec.IDMEC as mec.NOMEMEC for mec in lstMecanicos" material-select watch>
                                <option value="">Selecione um Mecanico</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"></div>
                        <table class="table table-striped">
                            <tr>
                                <th>QTD</th>
                                <th>UN</th>
                                <th>PRODUTO</th>
                                <th>VALOR</th>
                                <th>EXCLUIR</th>
                            </tr>
                            <tbody ng-repeat="prod in Produtos">
                                <tr>
                                    <td>{{prod.QTD}}</td>
                                    <td>{{prod.UNIDMEDIDA}}</td>
                                    <td>{{prod.DESCPROD}}</td>
                                    <td>{{prod.VALUNPROD}}</td>
                                    <td><button class="btn btn-danger"ng-click="delProd(prod)"></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <fieldset>
                            <legend>Adicionar Peças</legend>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="col-md-12 control-label">Produto</label>
                                        <input type="text" class="col-md-12 form-control" ng-model="prod.descProd" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="col-md-12 control-label">Qtd</label>
                                        <input type="text" class="col-md-12 form-control" ng-model="prod.qtdProd" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="col-md-12 control-label">Un</label>
                                        <input type="text" class="col-md-12 form-control" ng-model="prod.unidProd" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="col-md-12 control-label">Valor</label>
                                        <input type="text" class="col-md-12 form-control" ng-model="prod.valorProd" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-success btn-block"ng-click="addProduto();">Adicionar</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>  
                    </div>
                </fieldset>
            }
        }
    </div>
</div>
